<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <title>add-forms-to-db</title>

</head>
<body>
{% block content %}
        <form action="" method="post">
            {% csrf_token %}
            <div id="inputContainer">
                <div>
                    <input type="text" name="main" id="main" placeholder="Введите имя формы"/>
                </div>
                <div>
                    <input type="text" name="input0" id="input0" placeholder="Введите имя поля"/>
                    <input type="text" name="input1" id="input1" placeholder="Введите тип поля"/>
                </div>
            </div>
        <input type="submit" value="OK">
        <button type="button" id="addInput">Добавить input</button>
</form>
{% endblock %}
<script src="{% static 'app.js' %}"></script>
</body>
</html>